#startButton {
	top: -95px;
	left: 235px;
	width: 145px;
	height: 35px;
	font-size: 17px;
	position: relative;
}

#display {
  width: 600px;
  height: 680px;
  font-size: 15px;
  margin: 0px auto;
  position: static;
  font-family: Trebuchet MS, sans-serif;
}

#startScreen {
  width: 600px;
  margin: 0px auto;
  position: static;
}

#instructions {
  width: 150px;
  height: 100px;
  margin: 0px auto;
}

#saveGame, #lastSession, #enterButton, #input {
  box-shadow: 4px 4px #d6ce9a;
}

body {
  background-repeat: repeat;
  background-image: url("../images/backgroundimg.png");
}

h1 {
  text-align: center;
  text-shadow: 2px 2px #d6ce9a;
  font-family: Trebuchet MS, sans-serif;
}

p {
  text-align: center;
  text-shadow: 2px 2px #d6ce9a;
  font-family: Trebuchet MS, sans-serif;
}

img.center {
  display: none;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow:8px 8px #d6ce9a;
}

img.start {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow:8px 8px #d6ce9a;
}
