#header
{
  background-color: #45BF6E;
  padding: 15px;
  color: black;
  font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#map
{
  position: relative;
}

body
{
  background-color: #F6A07C;
  margin: 0;
  padding: 0;
}

#sprite
{
  position: absolute;
  top: 165px;
  left: 177px;
}

#bottom-footer
{
 background-color: #C8B037;
position: absolute;
left: 0;
bottom: 0;
height: 70px;
width: 100%;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  margin-bottom: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px;

}

.row:after 
{
  content: "";
  display: table;
  clear: both;
}
* {
	box-sizing: border-box;
}