#header
{
  background-color: #45BF6E;

  color: black;
  font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#map
{
  position: relative;
}

body
{
  background-color: #F6A07C;
  margin: 0;
  padding: 0;
}

#sprite
{
  position: absolute;
  top: 165px;
  left: 177px;
}

#bottom-footer
{
 background-color: #C8B037;


height: 50px;
width: 100%;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.button-group .button 
{
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  display: block;
  height: auto;
  margin: auto;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px;

}

.row:after 
{
  content: "";
  display: table;
  clear: both;
}
p
{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
* {
	box-sizing: border-box;
}