#header 
{
  background-color: #45BF6E;
  padding: 15px;
  color: black;
  font-size: 30px;
}

#map
{
  position: relative;

}

body
{
  background-color: #F6A07C;
  margin: 0;
  padding: 0;
}

#sprite
{
  position: absolute;
  top: 150px;
  left: 170px;
}

#bottom-footer
{
 background-color: #C8B037;
position: absolute;
left: 0;
bottom: 0;
height: 100px;
width: 100%;
text-align: center;
}